body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3331px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:170px;
  top:10px;
  width:621px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:850px;
  top:612px;
  width:337px;
  height:56px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:56px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:170px;
  top:1190px;
  width:621px;
  height:1104px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u5 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:801px;
  top:2304px;
  width:621px;
  height:1104px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u7 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:170px;
  top:2304px;
  width:621px;
  height:1104px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u9 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1432px;
  top:2304px;
  width:621px;
  height:1104px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u11 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:2070px;
  top:2304px;
  width:621px;
  height:1104px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u13 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:2710px;
  top:2304px;
  width:621px;
  height:1104px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u15 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:170px;
  top:3418px;
  width:621px;
  height:1104px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u17 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:170px;
  top:4532px;
  width:621px;
  height:1104px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u19 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:170px;
  top:5646px;
  width:610px;
  height:695px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:695px;
}
#u21 {
  position:absolute;
  left:2px;
  top:340px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:1432px;
  top:3418px;
  width:621px;
  height:1104px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u23 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1432px;
  top:4546px;
  width:621px;
  height:1104px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1104px;
}
#u25 {
  position:absolute;
  left:2px;
  top:544px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:200px;
  top:540px;
  width:550px;
  height:490px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u27 {
  position:absolute;
  left:240px;
  top:1500px;
  width:500px;
  height:110px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u28 {
  position:absolute;
  left:240px;
  top:1360px;
  width:500px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u29 {
  position:absolute;
  left:820px;
  top:2420px;
  width:590px;
  height:650px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:820px;
  top:3180px;
  width:580px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31 {
  position:absolute;
  left:200px;
  top:2500px;
  width:570px;
  height:800px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
