body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:731px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:10px;
  width:621px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:108px;
  top:1200px;
  width:623px;
  height:580px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:623px;
  height:580px;
}
#u3 {
  position:absolute;
  left:2px;
  top:282px;
  width:619px;
  visibility:hidden;
  word-wrap:break-word;
}
