body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2740px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:80px;
  top:10px;
  width:621px;
  height:1170px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u1 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:80px;
  top:1200px;
  width:621px;
  height:1170px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u3 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:770px;
  top:20px;
  width:621px;
  height:1170px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u5 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:760px;
  top:1200px;
  width:621px;
  height:1170px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u7 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:1459px;
  top:10px;
  width:621px;
  height:1170px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u9 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1450px;
  top:1190px;
  width:621px;
  height:1170px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:2119px;
  top:10px;
  width:621px;
  height:1170px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u13 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:2119px;
  top:1190px;
  width:621px;
  height:1170px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:621px;
  height:1170px;
}
#u15 {
  position:absolute;
  left:2px;
  top:577px;
  width:617px;
  visibility:hidden;
  word-wrap:break-word;
}
