body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:39px;
  top:13px;
  width:1111px;
  height:507px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1111px;
  height:507px;
}
#u1 {
  position:absolute;
  left:2px;
  top:246px;
  width:1107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:90px;
  top:612px;
  width:498px;
  height:438px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:438px;
}
#u3 {
  position:absolute;
  left:2px;
  top:211px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:420px;
  top:350px;
  width:180px;
  height:140px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:140px;
}
#u5 {
  position:absolute;
  left:2px;
  top:62px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:850px;
  top:310px;
  width:110px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
