body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:130px;
  top:40px;
  width:350px;
  height:280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:132px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:148px;
  top:100px;
  width:315px;
  height:16px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:192px;
  top:134px;
  width:208px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:192px;
  top:160px;
  width:168px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:192px;
  top:186px;
  width:142px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:192px;
  top:212px;
  width:275px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:192px;
  top:238px;
  width:228px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:192px;
  top:280px;
  width:100px;
  height:25px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u15 {
  position:absolute;
  left:160px;
  top:134px;
  width:100px;
  height:16px;
}
#u16 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u17 {
  position:absolute;
  left:160px;
  top:160px;
  width:100px;
  height:16px;
}
#u18 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u19 {
  position:absolute;
  left:160px;
  top:186px;
  width:100px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:160px;
  top:212px;
  width:100px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:160px;
  top:238px;
  width:100px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
